
{% block librinfo_entitycode_widget %}
    {% spaceless %}
        {% set uniqid = sonata_admin.admin.uniqid %}
        {% set linkId = uniqid ~ '_' ~ name ~ '_generate_code' %}

        {{ block('form_widget') }}
        {# put url in data-url instead of href to avoid sonata edit_orm_many_association_script from catching the action #}
        <a href="" data-url="{{ sonata_admin.admin.generateObjectUrl('generateEntityCode', sonata_admin.admin.subject, {'field': name, 'uniqid': uniqid}) }}" id="{{ linkId }}">
            {% trans %}librinfo.label.generate_code{% endtrans %}
        </a>
    {% endspaceless %}
    {% block entitycode_script %}
        <script>
            $(document).ready(function () {
                $('#{{ linkId }}').click(function(e){
                    var url = $(this).attr('data-url');
                    {% block data %}    
                        var data = $(this).closest('form').serializeArray();
                    {% endblock %}
                    {% block post %}
                        $.post(url, data, function(res){
                            if (res['error'] !== undefined)
                                alert(res['error']);
                            else if (res['code'] !== undefined)
                                $('input#{{ form.parent.vars.id }}_{{ name }}').val(res['code']);
                        });
                    {% endblock %}
                    return false;
                });
            });
        </script>
    {% endblock %}
{% endblock %}