
{% block librinfo_core_tinymce_widget %}
    {% spaceless %}
        <textarea class="tinymce"></textarea>
        {{ tinymce_init({'theme': { 'advanced': {'height': 280 }}}) }}
    {% endspaceless%}
{% endblock %}
{% block librinfo_core_customchoice_widget %}
    {% set subject = sonata_admin.admin.subject %}
    {% spaceless %}
        {{ block('choice_widget') }}
        {% if subject.fieldset is defined %}
            <a id="{{ subject.fieldset }}_{{ subject.field }}" class="add-choice editable editable-click inline-input" href="#"><i class="fa fa-plus-circle"></i></a>
        {% else %}
            <a id="{{ name }}" class="add-choice editable editable-click inline-input" href="#"><i class="fa fa-plus-circle"></i></a>
        {% endif %}
    {% endspaceless %}
{% endblock %}