{#

This file is part of the Libre Informatique CoreBundle package.

(c) Baptiste SIMON <baptiste.simon _AT_ libre-informatique.fr>
(c) Libre Informatique [http://www.libre-informatique.fr/]

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends 'SonataAdminBundle::standard_layout.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('bundles/blastcore/css/edit.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/blastcore/css/list.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/blastcore/css/main.css') }}" />
{% endblock %}

{% block sonata_wrapper %}
    {{ parent() }}
    {% block bottom_js %}{% endblock %}
{% endblock %}

{% block sonata_sidebar_search %}
    <form action="{{ path('blast_admin_search') }}" method="GET" class="sidebar-form" role="search">
        <div id="custom-search-admins">
            <select name="admin" multiple data-placeholder="{{ 'Search categories'| trans() }}">
                {% for admin in getGlobalSearchAdmins() %}
                    <option value="{{ admin }}">{{ admin_pool.getAdminByAdminCode(admin).label|trans() }}</option>
                {% endfor %}
            </select>
        </div>
        <div class="custom-search-form">
            <input type="text" name="q" value="{{ app.request.get('q') }}" class="form-control" data-placeholder="{{ 'search_query'| trans() }}">
        </div>
    </form>
{% endblock sonata_sidebar_search %}


{% block javascripts %}
  {# Temporary fix for fr_FR locale scripts #}
    {% block sonata_javascript_config %}
        {{ parent() }}
    {% endblock %}

    {% block sonata_javascript_pool %}
         {{ parent() }}
    {% endblock %}
    
    {% set locale = app.request.locale %}
    {# localize moment #}
    {% if locale[:2] != 'en' %}
        {% if locale == 'fr_FR' %}{% set locale = 'fr' %}{% endif %}
        <script src="{{ asset('bundles/sonatacore/vendor/moment/locale/' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
    {% endif %}

    {# localize select2 #}
    {% if sonata_admin.adminPool.getOption('use_select2') %}
        {% if locale == 'pt' %}{% set locale = 'pt_PT' %}{% endif %}

        {# omit default EN locale #}
        {% if locale[:2] != 'en' %}
            <script src="{{ asset('bundles/sonatacore/vendor/select2/select2_locale_' ~ locale|replace({'_':'-'}) ~ '.js') }}"></script>
        {% endif %}
    {% endif %}
  {# end fix #}
    
    <script src="{{ asset('bundles/blastcore/js/globalSearch.js') }}"></script>
{% endblock javascripts %}

