{% extends 'SonataAdminBundle:CRUD:base_edit.html.twig' %}

{% block tab_menu_navbar_header %}
    {% spaceless %}
    {% if admin.helperLinks('form')|length > 0 %}
        <div class="helper-links navbar-header">
        {% for link in admin.helperLinks('form') %}
            <a href="{{ link.url }}" class="navbar-brand {{ link.class is defined ? link.class : '' }}" title="{{ link.title is defined ? link.title : '' }}" target="_blank">
                {{ link.label is defined ? link.label|raw : ' ' }}
            </a>
        {% endfor %}
        </div>
    {% endif %}
    {% endspaceless %}

    {{ parent() }}
{% endblock %}

{% block title %}
    {% if admin.titles.form is defined %}
        {{ admin.titles.form|trans() }}
    {% elseif admin.id(object) is not null %}
        {# {{ "title_edit"|trans({'%name%': admin.toString(object)|truncate(15) }, 'SonataAdminBundle') }} #}
        {{ "title_edit"|trans({'%name%': admin.toString(object) }, 'SonataAdminBundle') }}
    {% else %}
        {{ "title_create"|trans({}, 'SonataAdminBundle') }} {{ admin.classnameLabel }}
    {% endif %}
{% endblock %}

{% block navbar_title %}
    {% if admin.titleTemplates.form is defined and admin.titleTemplates.form %}
        {% include admin.titleTemplates.form %}
    {% else %}
        {{ block('title') }}
    {% endif %}
{% endblock %}